:root {
  --primary-color: #eab308;
  /* --primary-color: #bf9241; */
  --title-color: #0c0c0c;
  --text-color: #3c3c3c;
  --bg-color: #e6ebf2;
  --white: #fff;
}

.site-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  display: inline-block;
}
